ion-toolbar{
    --background: #19422d;
    --color: white;  
    --min-height: 60px;
    --font-family: 'SansBold';
    --text-align: center;
}


.valor{
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

.footer{
    background-color: #252525;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.qntd-style{
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    text-align: center;
}

.descricao{
    text-align: center;
    color: #000000;
    font-size: 18px;
}
