#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.logo{
  color: var(--branco);
  font-size: 23px;
  font-family: 'SansBold';
  padding-top: 5px;
}

ion-toolbar{
    --background: #19422d;
    --color: white;  
    --min-height: 60px;
    --font-family: 'SansBold';
    --text-align: center;
}

.arrasta{
  background-color: var(--amarelo);
  font-family: 'SansBold';
}

.card-produto{
  background-color: rgb(251, 251, 251);
  padding: 15px 10px;
  border-radius: 8px;
  -webkit-box-shadow: -0.5px 0.5px 4px 0px rgba(121, 121, 121, 0.75);
  -moz-box-shadow: -0.5px 0.5px 4px 0px rgba(121, 121, 121, 0.75);
  box-shadow: -0.5px 0.5px 4px 0px rgba(121, 121, 121, 0.75);
}

.img-produto{
  overflow: hidden;
  padding: 0;
  text-align: center;
  border-radius: 4px;
  height: 120px;
}

.img-produto img{
  height: 100%;
}

.titulo{
  text-align: center;
  color: #252525;
  font-weight: bold;
  font-family: 'SansBold';
}

.valor{
  text-align: center;
  color: #252525;
  font-family: 'SansBold';
}

.detalhe{
  margin-top: 20px;
  text-align: center;
  font-family: 'SansBold';
}

.botao-detalhes{
  padding: 6px 12px;
  background-color: var(--vermelho);
  color: var(--branco);
  width: 100px;
  border-radius: 4px;
  text-align: center;
}

.slide-actived{
  font-weight: 500;
  border: 1px solid var(--branco);
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.slide-no-actived{
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
}

